#content-company-info {
  background-color: transparent;
  padding: 40px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

#content-company-info h2,
#content-company-info h3 {
  font-weight: bold;
}

#content-company-info .company-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

#content-company-info .company-logo {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  /* margin-top: 15px; */
}

#content-company-info .upload-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#content-company-info .file-info {
  font-size: 12px;
  color: #666;
}

#content-company-info .company-details label,
#content-company-info .contact-info label {
  display: block;
  font-weight: bold;
  margin-top: 40px;
}

#content-company-info .company-details input,
#content-company-info .company-details textarea,
#content-company-info .contact-info input,
#content-company-info .contact-info select,
#content-company-info .contact-info textarea {
  width: 100%;
  padding: 15px;
  margin-top: 7px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
}

#content-company-info .location-info {
  display: flex;
  gap: 20px;
}

#content-company-info .update-btn,
#content-company-info .exit-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#content-company-info .update-btn:hover,
#content-company-info .exit-btn:hover {
  background-color: #0056b3;
}

#content-company-info .button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#content-company-info .exit-btn {
  background-color: #dc3545;
}

#content-company-info .exit-btn:hover {
  background-color: #c82333;
}
.input-with-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-with-buttons select {
  flex: 1;
  padding: 5px;
}

.input-with-buttons .delete-btn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Đặt khoảng cách giữa select và nút xóa */
}

.input-with-buttons .delete-btn:hover {
  background-color: darkred;
}
