.modal-load-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .modal-load-overlay p {
    font-size: 22px;
  }
  
  .modal-load-overlay .modal-load-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  .modal-load-overlay .button-load-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .modal-load-overlay .cancel-load-btn,
  .modal-load-overlay .confirm-load-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .modal-load-overlay .cancel-load-btn {
    background-color: #f44336;
    color: #fff;
  }
  
  .modal-load-overlay .confirm-load-btn {
    background-color: #4caf50;
    color: #fff;
  }
  
  .modal-load-overlay .update-load-btn {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-load-overlay .update-load-btn:hover {
    background-color: #0b7dda;
  }
  