#job-detail-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 17px;
}

#job-detail-container .content-container {
  display: flex;
  gap: 20px;
}

#job-detail-container .job-overview {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#job-detail-container .job-overview h2 {
  font-weight: bold;
  font-size: 25px;
}

#job-detail-container .job-info {
  display: flex;
  gap: 50px;
}

#job-detail-container .button {
  display: flex;
  gap: 50px;
}

#job-detail-container .apply-btn {
  background-color: rgb(66, 183, 206);
  color: white;
  border: none;
  padding: 15px 200px; /* Tăng padding để nút lớn hơn */
  font-size: 18px; /* Tăng kích thước phông chữ */
  font-weight: bold; /* Đậm hơn để thu hút sự chú ý */
  cursor: pointer;
  border-radius: 5px;
}
#job-detail-container .save-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(66, 183, 206);
  border: none;
  padding: 15px 200px; /* Tăng padding để nút lớn hơn */
  font-size: 18px; /* Tăng kích thước phông chữ */
  font-weight: bold; /* Đậm hơn để thu hút sự chú ý */
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(66, 183, 206); /* Thêm viền màu */
}

#job-detail-container .left-column {
  width: 65%; /* Adjust this width as needed */
}

/* Right Column */
#job-detail-container .right-column {
  width: 35%; /* Adjust this width as needed */
}

#job-detail-container .job-details,
#job-detail-container .company-info, 
#job-detail-container .general-info, 
#job-detail-container .specialty-tags, 
#job-detail-container .recommended-jobs {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}
#job-detail-container .company-info h3,
#job-detail-container .general-info h3,
#job-detail-container .specialty-tags h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 7px;
}

#job-detail-container .general-info, 
#job-detail-container .specialty-tags, 
#job-detail-container .recommended-jobs {
  margin-top: 40px;
}

#job-detail-container .job-details div {
  margin-bottom: 20px; /* Adds space between sections */
}

#job-detail-container .job-details h4 {
  margin-bottom: 10px; /* Adds space between headers and content */
}

#job-detail-container p {
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 7px;
}
